.filter-form {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.filter-form__text-input {
  width: 200px;
  height: 25px;
  padding: 3px 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  &:focus {
    box-shadow: inset 0px 0px 2px 3px  #ffff00;
  }
}
.filter-form__btn {
  border: 2px solid #ffff00;
  border-radius: 5px;
  color: #000000;
  background: none;
  font-size: 18px;
  padding: 0 10px;
  display: inline-block;
  margin-left: 10px;
  transition: 0.4s;
  font-weight: 700;
  &:hover {
    background: rgba(255, 255, 0, 0.15);
  }
}
.filter-form__select-input {
  border-radius: 5px;
}
